#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DESTDIR = $(shell pwd)/debian/git-subrepo
export PREFIX=/usr

%:
	dh $@  

#override_dh_auto_install:
#	dh_auto_install -- prefix=/usr

#override_dh_install:
#	dh_install --list-missing -X.pyc -X.pyo

override_dh_install:
	make -C src install
	install -d -m 0755 $(DESTDIR)/$(PREFIX)/share/bash-completion/completions
	install -C -m 0644 src/share/completion.bash $(DESTDIR)/$(PREFIX)/share/bash-completion/completions/git-subrepo
	sed -i '1i#!/bin/bash' $(DESTDIR)/$(PREFIX)/lib/git-core/git-subrepo.d/bash+.bash

override_dh_usrlocal:
